.top_bar  {
    width: 100%;
    height: 40px;
    background-color: #55e2cb;
    border-bottom: 5px solid red;
}

.custom_logo {
    font-family: 'Righteous', cursive;
    font-size: 2em;
    margin-right: 1em;
}

.bg-custom {
    background-color: #c2ecee; 
}

.nav-item a{
    font-size: 30px;
    margin-right: 15px;
}